i{
	padding:0 10px 0 0;
}
.container-message{
		margin:auto;
		padding:0;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		margin-top:50px;
		width:70%;
		border:1px solid rgb(189,189,189);
	}
.modal-header{
	border:1px solid #dc3545;
}
.col-md-12{
	color:gray;
	font-weight: bolder;
	font-size: 1.5rem;
	text-align: center;
	margin:20px auto;
}
i,h5{ display: block;
	font-size:2rem;
	color:white;
}
.modal-header{
	background-color:#dc3545;
}
h1{
	padding:10px 0 60px 0;
	z-index: 100;
	width: 100%;
	text-align: center;
	color:gray;
	display:block;
	position:absolute;
	top:0;
}
iframe{
	padding-top:80px;
	position: fixed;
	border: none;
	top: 0; right: 0;
	bottom: 0; left: 0;
	width: 100%;
	height: 100%;
}